<template>
  <header class="norem-header">
    <div class="title">可视化搭建平台</div>
    <el-button size="small">schema 生成器</el-button>
  </header>
</template>
<script setup>
import './index.scss'
</script>
