.norem-header{
    padding: 0 20px;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    .title{
        font-size: 16px;
    }
}