<template>
  <div class="home-page">
    <!-- 物料列表 -->
    <div class="control-models">
      <div class="control-models-item">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-tupian"></use>
        </svg>
      </div>
      <div class="control-models-item">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-danhangshurukuang"></use>
        </svg>
      </div>
      <div class="control-models-item">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-rongqi"></use>
        </svg>
      </div>
      <div class="control-models-item">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-biaotilan"></use>
        </svg>
      </div>
    </div>
    <!-- 页面面板 -->
    <div class="control-page">
      <div class="control-page-content">
        <div class="control-page-content-area"></div>
      </div>
    </div>
    <!-- 物料配置 -->
    <div class="control-config">333</div>
  </div>
</template>

<script setup>
import './index.scss'
</script>
