.home-page{
    min-height: 90vh;
    display: flex;
    .control-models{
        width: 15%;
        background-color: #ffffff;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: flex-start;
        &-item{
            font-size: 20px;
            width: 50%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            &:hover{
                background-color: #ebebeb;
            }
        }
    }
    .control-page{
        flex: 1;
        &-content{
            width: 375px;
            margin: 0 auto;
            padding-bottom: 40px;
            &-area{
                height: 750px;
                background-color: #ffffff;
                margin-top: 40px;
                padding-bottom: 50px;
            }
        }
    }
    .control-config{
        width: 20%;
        background-color: #ffffff;
    }
}