<template>
  <div class="rc-Title">
    <div class="title">{{ props.title }}</div>
  </div>
</template>
<script setup>
import './index.scss'

const props = defineProps({
  title: {
    type: String,
    default: '',
  },
  style: {
    type: Object,
    default: () => {},
  },
})
</script>
