<template>
  <div>
    <div>
      <draggable
        :list="state.list"
        ghost-class="ghost"
        chosen-class="chosenClass"
        animation="300"
        @start="onStart"
        @end="onEnd"
      >
        <template #item="{ element }">
          <div class="item">
            {{ element.name }}
          </div>
        </template>
      </draggable>
    </div>
  </div>
</template>

<script setup>
// import { ref } from 'vue'
import { reactive } from 'vue'
import draggable from 'vuedraggable'

defineProps({
  msg: String,
})

const state = reactive({
  list: [
    { name: 'www.itxst.com', id: 0 },
    { name: 'www.baidu.com', id: 1 },
    { name: 'www.google.com', id: 2 },
  ],
})

// 拖拽开始的事件
const onStart = () => {
  console.log('开始拖拽')
}

// 拖拽结束的事件
const onEnd = () => {
  console.log('结束拖拽')
  console.log(state.list)
}
</script>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
