<script setup>
import Header from '@/page-components/Header/index.vue'
import HomePage from '@/page/home-page/index.vue'
</script>

<template>
  <div class="main-app">
    <Header></Header>
    <home-page></home-page>
  </div>
</template>
